
#header-text {
margin-left:20%;
margin-top:100px;
width:51%;
text-align: justify;
line-height:150%

}

h2 {

color:white;
font-family: 'Source Sans Pro', sans-serif;
font-size: 40px;
text-align: center;
}

#chart_div {
margin-left:20%;
}

#chart1_div {
margin-left:20%;
}

p {
font-family: 'Droid Serif', serif;
color: white;
}


body {
background-color: #3d3d5c
}